[Unit]
Description=Monkshu service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=APP_USER
ExecStart=/usr/bin/env node APP_HOME/crashguard/crashguard.js
WorkingDirectory=APP_HOME

[Install]
WantedBy=multi-user.target
